<!DOCTYPE html>
<html ng-app='mapping'>

<head>
    <title>Ingest Mapping</title>
    <script type="text/javascript" src='js/angular.min.js'></script>
    <script type='text/javascript' src="js/angular-route.min.js"></script>
    <script type="text/javascript" src='js/main.js'></script>
    <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.2.19.min.js"></script>
    <script src='js/head.load.min.js'></script>
    <base href="/">
</head>

<body ng-controller='MainCtrl as main'>

    <!-- ALERT MESSAGES -->
    <div>
        
        <!-- Success Alert -->
        <div id="myAlertSuccess" class="alert fade alert-success" ng-class="{in : successStatusAlert}">
           <a href="#" class="alert-close close" data-dismiss="alert">&times;</a>
           <strong>Success!</strong> the result is successful.
        </div>

    </div>
    <!-- end alert messages -->
    
    

    
    <!-- HEADER AND NAVBAR -->
    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Ingest Mapping APP</a>
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><i class="fa fa-home"></i> Settings</a>
                    </li>
                    <li><a href="#about"><i class="fa fa-shield"></i> About</a>
                    </li>
                    <li><a href="#contact"><i class="fa fa-comment"></i> Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    

    <!-- MAIN CONTENT AND INJECTED VIEWS -->
    <div id="main">

        <!-- angular templating -->
        <!-- this is where content will be injected -->
        <div ng-view></div>

    </div>

    <div class='container-fluid'>

        <div class="row filters">
            <div class="col-lg-2 filter ft-busca">
                <!-- SEARCH BAR -->
                <form class="navbar-form navbar-left" role="search">
                    <input type="search" placeholder="Buscar Entry" ng-model="searchInput">

                </form>            
            </div>
            <div class="col-lg-6 filter ft-generico1">
                <input type="checkbox" ng-checked="filterId" ng-model="filterId" id="ft-id">ID
                <input type="checkbox" ng-checked="filterUpdated" ng-model="filterUpdated" id="ft-updated">Updated
                <input type="checkbox" ng-checked="filterCreated" ng-model="filterCreated" id="ft-created">Created
                <input type="checkbox" ng-checked="filterNumber" ng-model="filterNumber" id="ft-number">Number
                <input type="checkbox" ng-checked="filterIngest" ng-model="filterIngest" id="ft-ingest">Ingest
                <input type="checkbox" ng-checked="filterProxy" ng-model="filterProxy" id="ft-proxy">Proxy
                <input type="checkbox" ng-checked="filterCataloging" ng-model="filterCataloging" id="ft-cataloging">Cataloging
                <input type="checkbox" ng-checked="filterName" ng-model="filterName" id="ft-name">Name
                <input type="checkbox" ng-checked="filterPath" ng-model="filterPath" id="ft-path">Path
                <input type="checkbox" ng-checked="filterSize" ng-model="filterSize" id="ft-size">Size
                <input type="checkbox" ng-checked="filterDuration" ng-model="filterDuration" id="ft-duration">Duration
                <input type="checkbox" ng-checked="filterCodec" ng-model="filterCodec" id="ft-codec">Codec
                <input type="checkbox" ng-checked="filterResolution" ng-model="filterResolution" id="ft-resolution">Resolution
                <input type="checkbox" ng-checked="filterFormat" ng-model="filterFormat" id="ft-format">Format
                <input type="checkbox" ng-checked="filterType" ng-model="filterType" id="ft-type">Type
                <input type="checkbox" ng-checked="filterScan" ng-model="filterScan" id="ft-scan">Scan
                <input type="checkbox" ng-checked="filterIdiom" ng-model="filterIdiom" id="ft-idiom">Idiom
                <input type="checkbox" ng-checked="filterAspect" ng-model="filterAspect" id="ft-aspect">Aspect
                <input type="checkbox" ng-checked="filterFps" ng-model="filterFps" id="ft-fps">FPS
                <input type="checkbox" ng-checked="filterAudio" ng-model="filterAudio" id="ft-audio">Audio
            </div>
            <div class="col-lg-2 filter ft-generico2"></div>
            <!-- REFRESH VIEW -->              
            <div class="col-lg-1 filter ft-refresh">
                <a href id="bt-refresh"><i class="fa fa-refresh fa-2x" ng-click="updateScreen()"></i></a>

            </div>
            <div class="col-lg-1 filter ft-entry">
               <!-- ADD ENTRY -->
               <button class="btn btn-primary" data-toggle="modal" data-target="#myModal" ng-click="modal('save')">
                   <i class="fa fa-file-video-o"></i>
                     Add Entry
                </button>              
            </div>
        </div>
        

        

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">                
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true" id="close-modal">&times;</span><span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Entry Form</h4>
                    </div>
                    <div class="modal-body">

                        <!-- FORM -->
                        <div class="form">

                            <div class="row status-area">
                                <div class="col-md-4  col-sm-4 col-xs-12">
                                    <!-- Status Ingest-->
                                    <div class="form-group">
                                        <label for="optionsIngest">Ingest</label>
                                        <select ng-model='statusIngest' class="form-control" id="optionsIngest" ng-options='value.stat as value.label group by value.group for value in statusOptionsIngest'></select>
                                    </div>

                                </div>
                                <div class="col-md-4  col-sm-4 col-xs-12">
                                    <!-- Status Proxy-->
                                    <div class="form-group">
                                        <label for="optionsProxy">Proxy</label>
                                        <select ng-model='statusProxy' class="form-control" id="optionsProxy" ng-options='value.stat as value.label group by value.group for value in statusOptionsProxy'></select>
                                    </div>

                                </div>
                                <div class="col-md-4  col-sm-4 col-xs-12">
                                    <!-- Status Cataloging-->
                                    <div class="form-group ">
                                        <label for="optionsCataloging">Cataloging</label>
                                        <select ng-model='statusCataloging' class="form-control" id="optionsCataloging" ng-options='value.stat as value.label group by value.group for value in statusOptionsCataloging'></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row input-area">
                                <form class="form-horizontal">

                                    <!-- Name -->
                                    <div class="form-group">
                                        <label class="control-label col-xs-2" for="name">Name</label>
                                        <div class="col-xs-10">
                                            <input type="text" class="form-control" id="name" placeholder='Name' ng-model='fileName'>
                                        </div>
                                    </div>

                                    <!-- Path -->
                                    <div class="form-group">
                                        <label class="control-label col-xs-2" for="path">Path</label>
                                        <div class="col-xs-10">
                                            <input type="text" class="form-control" id="path" placeholder='Path' ng-model='filePath'>
                                        </div>
                                    </div>

                                    <!-- Size -->
                                    <div class="form-group">
                                        <label class="control-label col-xs-2" for="size">Size</label>
                                        <div class="col-xs-10">
                                            <input type="text" class="form-control" id="size" placeholder='Size' ng-model='fileSize'>
                                        </div>
                                    </div>

                                    <!-- Duration -->
                                    <div class="form-group">
                                        <label class="control-label col-xs-2" for="duration">Duration</label>
                                        <div class="col-xs-10">
                                            <input type="text" class="form-control " id="duration" placeholder='Duration' ng-model='fileDuration'>
                                        </div>
                                    </div>

                                    <!-- Codec -->
                                    <div class="form-group">
                                        <label class="control-label col-xs-2" for="codec">Codec</label>
                                        <div class="col-xs-10">
                                            <select ng-model='fileCodec' class="form-control" id="codec" ng-options='value.stat as value.label group by value.group for value in fileOptionsCodec'></select>
                                        </div>
                                    </div>

                                    <!-- Resolution -->
                                    <div class="form-group">
                                        <label class="control-label col-xs-2" for="resolution">Resolution</label>
                                        <div class="col-xs-10">
                                            <select ng-model='fileResolution' class="form-control" id="resolution" ng-options='value.stat as value.label group by value.group for value in fileOptionsResolution'></select>
                                        </div>
                                    </div>

                                    <!-- Format -->
                                    <div class="form-group">
                                        <label class="control-label col-xs-2" for="format">Format</label>
                                        <div class="col-xs-10">
                                            <select ng-model='fileFormat' class="form-control" id="format" ng-options='value.stat as value.label group by value.group for value in fileOptionsFormat'></select>
                                        </div>
                                    </div>

                                    <!-- Physical Type -->
                                    <div class="form-group">
                                        <label class="control-label col-xs-2" for="physical">Type</label>
                                        <div class="col-xs-10">
                                            <select ng-model='filePhysicalType' class="form-control" id="physical" ng-options='value.stat as value.label group by value.group for value in fileOptionsPhysicalType'></select>
                                        </div>
                                    </div>

                                    <!-- Scan Type -->
                                    <div class="form-group">
                                        <label class="control-label col-xs-2" for="scan">Scan Type</label>
                                        <div class="col-xs-10">
                                            <select ng-model='fileScanType' class="form-control" id="scan" ng-options='value.stat as value.label group by value.group for value in fileOptionsScanType'></select>
                                        </div>
                                    </div>

                                    <!-- Idiom -->
                                    <div class="form-group">
                                        <label class="control-label col-xs-2" for="idiom">Idiom</label>
                                        <div class="col-xs-10">
                                            <select ng-model='fileIdiom' class="form-control" id="idiom" ng-options='value.stat as value.label group by value.group for value in fileOptionsIdiom'></select>
                                        </div>
                                    </div>

                                    <!-- Aspect -->
                                    <div class="form-group">
                                        <label class="control-label col-xs-2" for="aspect">Aspect</label>
                                        <div class="col-xs-10">
                                            <select ng-model='fileAspect' class="form-control" id="aspect" ng-options='value for value in fileOptionsAspect'></select>
                                        </div>
                                    </div>

                                    <!-- Frame Rate -->
                                    <div class="form-group">
                                        <label class="control-label col-xs-2" for="rate">Frame Rate</label>
                                        <div class="col-xs-10">
                                            <select ng-model='fileFrameRate' class="form-control" id="rate" ng-options='value for value in fileOptionsFrameRate'></select>
                                        </div>
                                    </div>

                                    <!-- Audio -->
                                    <div class="form-group">
                                        <label class="control-label col-xs-2" for="audio">Audio</label>
                                        <div class="col-xs-10">
                                            <select ng-model='fileAudioTrack' class="form-control" id="audio" ng-options='value for value in fileOptionsAudioTrack'></select>
                                        </div>
                                    </div>

                                </form>

                            </div>


                        </div>
                        <!-- END CONTAINER-->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" ng-show='updateBt' ng-click='updateEntry($$watchers)' data-dismiss="modal">Update Entry</button>
                        <button type="button" class="btn btn-primary" ng-show='saveBt' ng-click="addEntry()" data-dismiss="modal">Save changes</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- END MOCKUP -->


        <div class="row">



            <!-- REALTIME DISPLAY -->

            <section class='displayForm'>
                <p class='entryOutput'>{{statusIngest}}</p>
                <p class='entryOutput'>{{statusProxy}}</p>
                <p class='entryOutput'>{{statusCataloging}}</p>
                <p class='entryOutput'>{{fileName}}</p>
                <p class='entryOutput'>{{filePath}}</p>
                <p class='entryOutput'>{{fileSize}}</p>
                <p class='entryOutput'>{{fileDuration}}</p>
                <p class='entryOutput'>{{fileCodec}}</p>
                <p class='entryOutput'>{{fileResolution}}</p>
                <p class='entryOutput'>{{fileFormat}}</p>
                <p class='entryOutput'>{{filePhysicalType}}</p>
                <p class='entryOutput'>{{fileScanType}}</p>
                <p class='entryOutput'>{{fileIdiom}}</p>
                <p class='entryOutput'>{{fileAspect}}</p>
                <p class='entryOutput'>{{fileFrameRate}}</p>
                <p class='entryOutput'>{{fileAudioTrack}}</p>
            </section>


                





        </div>
        <!-- END ROW -->

        <table class="table table-striped">
            <thead>
                <tr>
                    <th g-if='filterId'>ID</th>
                    <th g-if='filterUpdated'>Updated</th>
                    <th g-if='filterCreated'>Created</th>
                    <th g-if='filterNumber'>#</th>
                    <th g-if='filterIngest'>Ingest</th>
                    <th g-if='filterProxy'>Proxy</th>
                    <th g-if='filterCataloging'>Cataloging</th>
                    <th g-if='filterName'>Name</th>
                    <th g-if='filterPath'>Path</th>
                    <th g-if='filterSize'>Size</th>
                    <th g-if='filterDuration'>Duration</th>
                    <th g-if='filterCodec'>Codec</th>
                    <th g-if='filterResolution'>Resolution</th>
                    <th g-if='filterFormat'>Format</th>
                    <th g-if='filterType'>Type</th>
                    <th g-if='filterScan'>Scan</th>
                    <th g-if='filterIdiom'>Idiom</th>
                    <th g-if='filterAspect'>Aspect</th>
                    <th g-if='filterFps'>FPS</th>
                    <th g-if='filterAudio'>Audio</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat='key in allEntrys | filter:searchInput'>
                    <td g-if='filterId'>{{key.objectId}}</td>
                    <td g-if='filterUpdated'>{{key.updatedAt}}</td>
                    <td g-if='filterCreated'>{{key.createdAt}}</td>
                    <td g-if='filterNumber'>{{$index}}</td>
                    <td g-if='filterIngest'>{{key.statusIngest}}</td>
                    <td g-if='filterProxy'>{{key.statusProxy}}</td>
                    <td g-if='filterCataloging'>{{key.statusCataloging}}</td>
                    <td g-if='filterName'>{{key.fileName}}</td>
                    <td g-if='filterPath'>{{key.filePath}}</td>
                    <td g-if='filterSize'>{{key.fileSize}}</td>
                    <td g-if='filterDuration'>{{key.fileDuration}}</td>
                    <td g-if='filterCodec'>{{key.fileCodec}}</td>
                    <td g-if='filterResolution'>{{key.fileResolution}}</td>
                    <td g-if='filterFormat'>{{key.fileFormat}}</td>
                    <td g-if='filterType'>{{key.filePhysicalType}}</td>
                    <td g-if='filterScan'>{{key.fileScanType}}</td>
                    <td g-if='filterIdiom'>{{key.fileIdiom}}</td>
                    <td g-if='filterAspect'>{{key.fileAspect}}</td>
                    <td g-if='filterFps'>{{key.fileFrameRate}}</td>
                    <td g-if='filterAudio'>{{key.fileAudioTrack}}</td>
                    <td>
                        <button type="submit" class="btn btn-primary" ng-click='deleteEntry($$watchers, $index, $event)'>Delete Entry</button>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal" ng-click='editEntry($$watchers, $index, $event, $elem)'>Edit Entry</button>
                    </td>


                    <!-- NG-REPEAT END -->
                </tr>
            </tbody>
            <!-- END TABLE -->
        </table>


    </div>

    <script>
        head.js('css/bootstrap.min.css', 'css/main.css', 'fonts/font-awesome-4.2.0 2/css/font-awesome.min.css', 'js/jquery-2.1.1.min.js', 'js/bootstrap.min.js');
    </script>

</body>

</html>